@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* font-family: "Inter", serif; */




:root {

    /* ### Primary */

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* ### Neutral */

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--Off-white);
    padding: 5rem 9rem;
    min-height: 100vh;
    transition: 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 4rem;
    width: 100%;
}

.logo {
    align-self: flex-end;
}

.nav-container {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: flex-end;
    height: 50px;
}

.nav-item {
    padding-left: 2.5rem;
    font-size: 14px;
}

.nav-link {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: 0.3s ease;
    font-weight: 400;
}

.nav-link:hover {
    color: var(--Soft-orange);
}

.close-bar {
    display: none;
}

/* bar will be hidden in desktop view */

.bar {
    display: none;
    width: 55px;
    height: 20px;
}

/* Grid Layout For Main Container */

.main-container {
    width: 100%;
    display: grid;
    grid-template-rows: 310px 160px 20px auto;
    grid-template-columns: 350px 380px auto;
    gap: 1.7rem;
}


/* Should be all of the layout for the divs. Now i must adjust the rows and columns */
.main-pic {
    width: 100%;
    grid-area: 1 / 1 / 2 / 3;
    height: 100%;
    display: block;
}

.mobile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.future {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 3.7rem;
    font-weight: 800;
    line-height: 3.7rem;
}

.info-more {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.info-more>p {
    color: var(--Dark-grayish-blue);
    padding-right: 1.7rem;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.info-more>button {
    background-color: var(--Soft-red);
    color: var(--Very-dark-blue);
    font-weight: 800;
    border: none;
    padding: 1rem 1.5rem;
    letter-spacing: 0.3rem;
    width: 50%;
    cursor: pointer;
    transition: 0.4s ease;
}

.info-more>button:hover {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}

.new-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: 1 / 3 / 3 / 4;
    background-color: var(--Very-dark-blue);
    color: white;
    padding: 1.5rem;
}

.new-info>h2 {
    color: var(--Soft-orange);
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

.new-info>h4 {
    color: var(--Off-white);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.new-info>p {
    color: var(--Dark-grayish-blue);
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.new-info>h4:hover {
    color: var(--Soft-orange);
}

.new-info>hr {
    border: 1px solid var(--Dark-grayish-blue);
    margin-bottom: 2rem;
}

/* display flex and inner div is column for these 3 */
.retro {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;

}

.retro > img {
    width: 10rem;
    height: 10rem;
}

.one > h3 {
    color: var(--Soft-red);
    font-size: 2.4rem;
}

.one > h4 {
    margin-top: .5rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--Very-dark-blue);
    font-size: 1.15rem;
    font-weight: 800;
}

.one > h4:hover {
    color: var(--Soft-red);

}

.one > p {
    margin-top: .5rem;
    color: var(--Dark-grayish-blue);
    font-size: .9rem;
    line-height: 1.5rem;
}

.laptops {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.laptops > img {
    width: 10rem;
    height: 10rem;
}

.two > h3 {
    color: var(--Soft-red);
    font-size: 2.4rem;
}

.two > h4 {
    margin-top: .5rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--Very-dark-blue);
    font-size: 1.15rem;
    font-weight: 800;
}

.two > h4:hover {
    color: var(--Soft-red);
}

.two > p {
    margin-top: .5rem;
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    line-height: 1.5rem;
}

.game {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.game > img {
    width: 10rem;
    height: 10rem;
}

.three > h3 {
    color: var(--Soft-red);
    font-size: 2.4rem;
}

.three > h4 {
    margin-top: .5rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--Very-dark-blue);
    font-size: 1.15rem;
    font-weight: 800;
}

.three > h4:hover {
    color: var(--Soft-red);
}

.three > p {
    margin-top: .5rem;
    color: var(--Dark-grayish-blue);
    font-size: .9rem;
    line-height: 1.5rem;
}


/* This will be for the menu bar */

@media screen and (max-width:450px) {
    body {
        padding: 1.5rem 1rem;
    }

    .logo {
        width: 60px;
        height: 40px;
    }

    .nav-container {
        position: absolute;
        width: 65%;
        background-color: var(--Off-white);
        height: 100%;
        right: -1000px;
        top: 0;
        z-index: 1999;
        opacity: 1;
        transition: 0.5s all ease;

    }

    .nav-list {
        margin-top: 17rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1.8rem;

    }

    .nav-link {
        font-size: 1.5rem;
    }

    .nav-container.active {
        right: 0;
    }

    .bar {
        display: block;
        align-self: center;
        cursor: pointer;
        transition: 0.5s ease;

    }

    .close-bar {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        align-self: flex-end;
        margin-right: 1rem;
        z-index: 3000;
        transition: 0.5s ease ease-in-out;

    }

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .main-pic {
        display: none;
    }

    .mobile-pic {
        display: block;
    }

    .future {
        margin-top: 1.5rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding-right: 2rem;
    }

    .info-more>p {
        padding-right: 0;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: .95rem;
    }

    .info-more>button {
        font-size: .7rem;
    }

    .new-info {
        margin-top: 4rem;
    }

    .retro {
        margin-top: 3.5rem;
    }

    .one > h3 {
        font-size: 2rem;
    }

    .two > h3 {
        font-size: 2rem;
    }

    .three > h3 {
        font-size: 2rem;
    }

    .one > h4 {
        font-size: 1rem;
    }

    .two > h4 {
        font-size: 1rem;
    }

    .three > h4 {
        font-size: 1rem;
    }


    .one > p {
        font-size: 0.85rem;
    }

    .two > p {
        font-size: 0.85rem;
    }

    .three > p {
        font-size: 0.85rem;
    }


    /* must start working in everything else */
}

.hidden {
    display: none;
}

.dimmed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    z-index: 998; /* Lower than navC */
    cursor: pointer;
    mix-blend-mode: color;
}

.pop {
    background-color: var(--Off-white);
    position: relative;
    z-index: 2999; /* Ensures it's above the dimmed overlay */
}