@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* font-family: "Inter", serif; */




:root {

    /* ### Primary */

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* ### Neutral */

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--Off-white);
    padding: 4rem 9rem;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 3rem;
}

.logo {
    align-self: flex-end;
}

.nav-container {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.nav-item {
    padding-left: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: 0.3s ease;
    font-weight: 400;
}

.nav-link:hover {
    color: var(--Soft-orange);
}

/* bar will be hidden in desktop view */

.bar {
    display: none;
    width: 55px;
    height: 20px;
}




/* This will be for the menu bar */

@media screen and (max-width:450px) {
    body {
        padding: 1.5rem 1rem;
    }

    .logo {
        width: 60px;
        height: 40px;
    }

    .nav-container {
        position: absolute;
        width: 70%;
        opacity: 0;
        background-color: var(--Off-white);

    }

    .nav-container.active {}

    .bar {
        display: block;
        align-self: center;
        cursor: pointer;
    }
}